* {
  font-family: Calibri;
  font-size: 30px;
  font-weight: bold;
}

body {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size:3em;
  color:black;
  text-align:center;
  border-radius: 20px;
  margin: 10px;
  padding:10px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 1) inset;
}

p {
  text-align: left;
}

.ombre {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.cont {
  margin-right: auto; margin-left: auto;
  margin-top: 10%; margin-bottom: 10%;
  padding: 2.5% 5% 2.5% 5%;
  border-radius: 20px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  /* border: 3px solid rgba(255, 255, 255, 0.4) */
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 1) inset;
  /* box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.7); */
}

img {
  margin: 3%;
}

#oui {
  width: 25%; height: auto;
  display: inline-block;
}

#non {
  width: 55%;
  display: inline;
}
